<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacebookDesktopSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FacebookDesktopSample.Properties.Settings>
            <setting name="api_key" serializeAs="String">
                <value>e77f1c7e6b1fa2d4d8495622bac2881a</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>6871d1a0ce2c9b9f4778e2ae1c192dbd</value>
            </setting>
        </FacebookDesktopSample.Properties.Settings>
    </applicationSettings>
</configuration>